:root {
  --color-background: #fff;
  --color-default: #000;
  --color-body: azure;
  --color-numbers: rgba(246, 227, 204, 0.89);
  --color-numbers-text: #000;
  --color-box-container: #3e3c3c;
}

.dark-mode {
  --color-background: #000;
  --color-default: #fff;
  --color-body: hsl(0, 1%, 32%);
  --color-numbers: hsl(0, 10%, 10%);
  --color-numbers-text: rgba(246, 227, 204, 0.89);
  --color-box-container: rgba(246, 227, 204, 0.89);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-body);
}

h1 {
  width: 360px;
  text-align: center;
  margin: 0 0 30px 60px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.main {
  height: 100vh;
  display: flex;
}

.wrapper {
  width: 500px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-numbers {
  display: flex;
  column-gap: 10px;
  padding-right: 12px;
  margin-left: 102px;
}

.numbers {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 16px;
  border: 1px solid rgba(246, 227, 204, 0.89);
  color: var(--color-numbers-text);
  background-color: var(--color-numbers);
  flex-shrink: 0;
}

.container {
  width: 364px;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.left-numbers {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.nonogram {
  width: calc(100% - 75px);
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: #000;
  gap: 1px;
  border: 1px solid #000;
}

.nonograms {
  background-color: #fff;
  cursor: pointer;
}

.black-background {
  background-color: #000;
}

.direction-numbers {
  flex-direction: column;
}

.reset {
  width: 110px;
  margin: 10px 0 0 60px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: hsl(305, 37%, 81%);
  color: #3e3c3c;
  cursor: pointer;
}

.reset:hover {
  background: hsl(304, 43%, 70%);
  color: #000000;
}

.resolve {
  width: 110px;
  margin: 10px 0 0 60px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: hsl(255, 36%, 81%);
  color: #fff;
  cursor: pointer;
}

.resolve:hover {
  background: hsl(271, 44%, 69%);
  color: #fff;
}

.cross {
  background-image: url("./assets/cross.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box-container {
  margin: 12px 0 0 64px;
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
  font-size: 28px;
  color: var(--color-box-container);
}

.select {
  width: 110px;
  margin: 10px 0 0 60px;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background: hsl(184, 38%, 76%);
  color: #3e3c3c;
}

.select:hover {
  background: hsl(184, 79%, 72%);
}

.toggle-theme {
  width: 110px;
  margin: 10px 0 0 60px;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background: hsl(0, 1%, 32%);
  color: #fff;
}
